In [14]:
import pandas as pd 

#世界各主要國家之我國留學生人數統計
good = pd.read_csv("good.csv",encoding='Big5') 
good.head()

    年度  洲別   國別     總人數
0  105  歐洲   英國  3815.0
1  105  歐洲   德國  1488.0
2  105  歐洲   波蘭   561.0
3  105  歐洲  奧地利   419.0
4  105  歐洲  俄羅斯   181.0

In [16]:
# 105年度去歐洲的總人數
# 按照條件篩選資料，並計算總和
total_travelers = good.loc[(good['洲別'] == '歐洲') & (good['年度'] == 105), '總人數'].sum()
# 輸出結果
print(f'105年度去歐洲的總人數為 {total_travelers} 人')

105年度去歐洲的總人數為 7189.0 人

In [21]:
#有多少人去英國留學
# 計算國別為英國的所有訪客總數
total_visitors_uk = good.loc[(good['國別'] == '英國'),'總人數'].sum()
total_visitors_uk

19405.0

In [29]:
# 每一年去美洲的人數
# 選擇洲別為美洲的所有行
americas = good[good['洲別'] == '美洲']

# 以年份為分組依據計算平均訪客人數
avg_visitors_americas = americas.groupby('年度')['總人數'].sum()

print(avg_visitors_americas)

年度
105    25954.0
106    24349.0
107    26856.0
108    27771.0
109    28861.0
Name: 總人數, dtype: float64

In [30]:
# 找對108年最多人去的洲別
# 按照年份和洲別分組，並計算旅客人數總和
grouped_good = good[good['年度'] == 108].groupby('洲別')['總人數'].sum()

# 找出最多人去的洲別
most_popular_continent = grouped_good.idxmax()

# 輸出結果
print(f'108年最多人去的洲別為 {most_popular_continent}')

108年最多人去的洲別為 美洲

In [31]:
# 找到亞洲109年度最多人去的國家並列出人數
# 按照年份和洲別分組，並計算留學人數總和
grouped_good = good[(good['年度'] == 109) & (good['洲別'] == '亞洲')].groupby('國別')['總人數'].sum()

# 找出最多人去的國家
most_popular_country = grouped_good.idxmax()

# 列出所有國家的留學人數總和
print(grouped_good)

# 輸出結果
print(f'109年度最多人去的國家為 {most_popular_country}，人數為 {grouped_good[most_popular_country]}')

國別
印尼        48.0
印度        20.0
土耳其       28.0
新加坡       41.0
日本      9584.0
泰國       291.0
約旦         6.0
菲律賓       66.0
蒙古         1.0
越南         0.0
阿曼         1.0
韓國      1382.0
馬來西亞     346.0
Name: 總人數, dtype: float64
109年度最多人去的國家為 日本，人數為 9584.0

In [36]:
# 計算歷年來最多人去的國家以及每一年去這個國家的人數

# 按照年份和國家分組，並計算旅客人數總和
grouped_good = good.groupby(['年度','國別'])['總人數'].sum()
grouped_good

年度   國別
105  丹麥        33.0
     俄羅斯      181.0
     冰島         2.0
     加拿大     4827.0
     印尼       210.0
              ...
109  西班牙      350.0
     越南         0.0
     阿曼         1.0
     韓國      1382.0
     馬來西亞     346.0
Name: 總人數, Length: 187, dtype: float64

In [38]:
# 找出每年最多人去的國家
most_popular_countries = grouped_good.groupby(level=0).idxmax()
most_popular_countries

年度
105    (105, 美國)
106    (106, 美國)
107    (107, 美國)
108    (108, 美國)
109    (109, 美國)
Name: 總人數, dtype: object

In [40]:
# 找到第二多人去的國別以及人數
# 按照國家分組，並計算留學人數總和
grouped_good = good.groupby('國別')['總人數'].sum()

# 排序，找到第二多人去的國家
second_most_popular_country = grouped_good.sort_values(ascending=False).index[1]
second_most_popular_country_number = grouped_good.sort_values(ascending=False).iloc[1]

# 輸出結果
print(f"{second_most_popular_country} 有 {second_most_popular_country_number} 人前往。")

澳大利亞 有 85612.0 人前往。

In [41]:
# 第五少人去的國家
# 按照國家分組，並計算留學人數總和
grouped_good = good.groupby('國別')['總人數'].sum()

# 排序，找到第五少人去的國家
fifth_least_popular_country = grouped_good.sort_values(ascending=True).index[4]
fifth_least_popular_country_number = grouped_good.sort_values(ascending=True).iloc[4]

# 輸出結果
print(f"{fifth_least_popular_country} 有 {fifth_least_popular_country_number} 人前往。")

蒙古 有 1.0 人前往。

In [42]:
# 找到跟去蒙古人數一樣的國家
# 找到去蒙古的留學人數
mongolia_travelers = good.loc[good['國別'] == '蒙古', '總人數'].iloc[0]

# 找到人數跟去蒙古一樣的國家
same_travelers_countries = good.loc[good['總人數'] == mongolia_travelers, '國別'].tolist()

# 輸出結果
print(f"人數跟去蒙古一樣的國家有：{same_travelers_countries}")

人數跟去蒙古一樣的國家有：['尼泊爾', '孟加拉', '智利', '哥倫比亞', '聖克里斯多福及尼維斯', '緬甸', '巴林', '智利', '巴林', '斯洛伐克', '智利', '哥倫比亞', '阿曼', '蒙古', '斐濟']

In [3]:
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import HTML

df_data = px.data.iris()
df_data

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3